.App {
  background-color: #201f24;
}
header {
  height: 400px;
  background-image: url("assets/header.jpg");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  background-color: #201f24;
  color: white;
}

.main-content {
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content>* {
  flex-grow: 1;
  margin: 10px;
}

.main-content article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2d2c32;
  padding-bottom: 20px;
}

.main-content article, .main-content article img{
  width: 300px;
}

.main-content article div{
  padding: 10px;
}

.main-content article button{
  width: 250px;
  height: 30px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 960px;
  height: 300px;
}

.footer-icons {
  width: 400px;
  display: flex;
  justify-content: space-between;
}





